<!DOCTYPE html>
<html>
  <head>
    <title>Tyler Palef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="Tyler, Ty, Palef, Tyler Palef, tylerpalef.com, HTML, CSS, JavaScript, Ruby, Ruby on Rails, Rails, AJAX, Jquery, Adobe Suite, Adobe, Developer, Full-Stack, Front-End, Back-End, Full, Full Stack, Tyler, Palef, Tyler Palef, Web, BitMaker, Ryerson, Tucows, SEO, Toronto, Vaughan, Thornhill, Markham, Richmond Hill, Available, Junior, Python, SQL, MySQL, PostGres, Cyclesurgeon, Cycle Surgeon, cyclesurgeon.ca">
    <meta name="description" content="Tyler Palef Full-Stack Web Developer">
    <meta name="author" content="Tyler Palef">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Oswald" rel="stylesheet">
    <!-- Fonts for the headers/p on the home page -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Icons for footer from fontawesome -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Favicon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
